.starter-template{
/* 	background:#eee; */
	width: 55%;
	padding:5px 5px;
	margin-top:40px;
}
.mg{
	
	margin-top:40px;
}

.fr{
	background:#eee;
	border-bottom:dotted 1px green;
	margin-top:5px;
	overflow:hidden;
	
}
.fr label{
	float:left;
	margin:3px 5px;
	width:100px;

}
.fr input[type='text'],input[type='password'],input[type='submit']{
	float:left;
	width:170px;
	margin:3px 5px;
}
.fr input[type='submit']{
	float:left;
	width:170px;
	margin:3px 5px ;
}
.profile{
	border-bottom: 5px solid #eee;
    border-right: 2px solid #eee;
    background: white;
    padding:2px 2px;

}
.span3.pull-left {
padding: 5;
background:green;
margin: 0;
}
.span-special.pull-left {
	width: 200px;
	margin: 0;
	overflow: hidden;
	border-right: 1px solid #eee;
}
.navbar-form.pull-left {
	margin-left: 30px;
}
#main{
	margin:0 auto;
	float:none;
	background:#eee;
	overflow:hidden;
}
.social {
width: 25%;
border-right: 2px solid #aaa;
float: left;
height: auto;
overflow:hidden;
padding: 10px 10px;
}
.login {
float: left;
height: auto;
overflow:hidden;

width: 67%;
padding: 10px 10px;
margin-left:2px;

}

.wrap{
	margin:0 auto;
	width:300px;
}
.horizontal div label {
float: left;
width: 75px;
padding: 2px 2px;
}
.horizontal div {

margin-top: 2px;
border-bottom: #eee dotted 1px;
}
.horizontal {

width: 100%;
}


